.subtitleDisplay {
  position: fixed;
  background: rgb(0 0 0 / 88%);
  color: white;
  z-index: 99;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  width: 90%;
  left: 5%;
  right: 5%;
  border-radius: 12px;
  min-height: 52px;
  transition: 0.3s all ease;
}
.fzControl {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 5px;
  z-index: 999;
  opacity: 1;
  transition: 0.3s all ease;
}
.fzControl.hide {
  opacity: 0;
}

.fzControl button {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.fzControl button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

.translated {
  color: #ffffff7a;
}
