video {
  width: 100%;
  height: 100vh;
  outline: none !important;
}
video::cue {
  visibility: hidden;
}
#subtitleDisplay {
  position: fixed;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 3rem;
  z-index: 99;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  width: 90%;
  left: 5%;
  right: 5%;
  border-radius: 12px;
  min-height: 52px;
}
