body {
  margin: 0;
  padding: 0;
  background: black;
}

#root {
  display: block;
  width: 100%;
}

.files_selector {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
}

.files_selector li{
  cursor: pointer;
}
