.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.status {
  color: #cac8c8;
  font-size: 2rem;
}

.fileName {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 70px;
  opacity: 0;
  display: block;
  z-index: 99;
  font-size: 2rem;
  color: white;
}
.fileName:hover {
  opacity: 1;
}